<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
    <div class="panel-heading">List Page</div>
    <div class="panel-body pull-right">
        <h3><a class="label label-default " th:href="@{register}">Register</a></h3>
    </div>

    <div class="panel-body">


    </div>


</div>
end fragment


<!--&lt;!&ndash;/*-->
<th:block layout:fragment="script">


</th:block>

